/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/public/uploads
/public/templates
/public/MP_verify_3Gr04oBtCP2ydsvT.txt
/storage
/doc/DOCUMENT

.idea/*
/nbproject
*.sublime-workspace
*.sublime-project