<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="shortcut icon" href="http://mp.soqi.cn/favicon.ico" type="image/x-icon">
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<title>厦门易尔通网络科技有限公司</title>
<link href="css/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/swiper-3.3.1.min.css"> 
<link rel="stylesheet" href="css/public.css" /> 
<link href="css/css.css" rel="stylesheet" type="text/css" />
<!-- <script src="js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script> -->
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/swiper-3.3.1.jquery.min.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/share.js"></script>
<!-- <script src="js/idangerous.swiper-2.0.min.js"></script>
<script src="js/idangerous.swiper.3dflow-2.0.js"></script> 
<script src="js/simple-app.js"></script>-->
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
</head>
<body>
<div class="viewbox">
  <div class="PnInfo-hd">
    <a href="javascript:history.back(-1)" class="back"><i class="iconfont i-back">&#xe604</i></a>
    <div class="pub-faceImg"><img src="" alt=""></div>
    <h2 class="name">王五</h2>
    <p class="post">GG</p>
  </div>
  <div class="PnInfo-tool">
    <ul class="flexbox">
      <li>
        <i class="iconfont i-collect"></i>
        <p>收藏名片</p>    
      </li>
      <li>
        <i class="iconfont i-exchange"></i>
        <p>交换名片</p>
      </li>
      <li>
        <a href="">
          <i class="iconfont i-save"></i>
          <p>保存通讯录</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="wrapbox">
    <div class="pninfo-show">
      <ul class="pninfo-show-link">
        <li class="top">
          <span class="mark bg0"><i class="iconfont i-tel"></i></span>
          <div class="flex">
            <h2>手机</h2>
            <p>15373426588</p>
          </div>
          <div class="Tel"><i class="iconfont i-Tel"></i></div>
        </li>
        <li>
          <span class="mark bg1"><i class="iconfont i-mail"></i></span>
          <div class="flex">
            <h2>E-Mail:</h2>
            <p>54357463@qq.com</p>
          </div>
        </li>
      </ul>
      <div class="pninfo-show-list">
        <h1 class="tit">
          <i class="iconfont i-pro"></i>
          产品&服务
        </h1>
        <p class="p-cont">这家伙很懒，什么都没有留下</p>
      </div>
      <div class="pninfo-show-list">
        <h1 class="tit">
          <i class="iconfont i-signature"></i>
          我的签名
        </h1>
        <p class="p-cont">测试一下</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
